/* -------- Styles pour la section de l'atelier -------- */

/* Style général pour la section de l'atelier */
.atelier-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.atelier {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    gap: 50px;
}

.atelier img {
    max-height: 192px;
    border-radius: 10px;
}

.atelier h2 {
    margin-top: 20px;
    font-size: 1.5em;
}

.atelier p {
    margin-bottom: 10px;
    font-size: small;
    line-height: 1.6;
    width: 500px;
}


