/* Style du carrousel */
.carrousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 250px;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carrousel-large {
    display: flex;
    transition: transform 0.5s ease-in-out;
    /* Défilement fluide */
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    /* Masque les images qui dépassent */
}

.carrousel img {
    min-width: 250px;
    max-height: 250px;
    min-height: 250px;
    object-fit: contain;
    transition: transform 0.5s ease;
}

.carrousel-small {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.carrousel-small .thumbnail {
    min-width: 80px;
    min-height: 80px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.carrousel-small .thumbnail {
    transition: opacity 0.5s ease-in-out;
}

.carrousel-small .thumbnail:hover {
    transform: scale(1.1);
}

/* Styles pour les flèches */
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    z-index: 1000;
    transition: background-color 0.3s, transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

/* Responsivité */
@media (max-width: 768px) {
    .carrousel-large img {
        max-height: 300px;
    }
}