/* Style du carrousel */
.carousel {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 250px;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.carr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 250px;
    min-width: 300px;

}

/* Style du carrousel travaux */
.carouselt {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 750px;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.carrt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 900px;
    min-width: 300px;

}

.carousel img,
.carouselt img {
    width: 250px;
    height: auto;
    object-fit: contain;
    transition: transform 0.5s ease;
}

/* Styles pour les flèches */
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    z-index: 1000;
    transition: background-color 0.3s, transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

/* Ajout d'une pagination sous le carrousel */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.pagination span {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.pagination span.active {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Responsivité */
@media (max-width: 768px) {
    .carousel {
        max-height: 300px;
    }

    .prev,
    .next {
        padding: 10px;
        top: 45%;
    }
}
