main {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    min-height: 80vh
}

#login-form,
.col {
    align-items: center;
    display: flex;
    flex-direction: column
}

#login-form {
    gap: 30px
}