body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0
}

.main-section {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px
}

.manager-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.icon-form,
.content,
.carrousel {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px
}

#contient_carrousel {
    display: flex;
    flex-direction: row
}

.icon-form {
    flex: 1;
    margin: 10px
}

button {
    background-color: #007BFF;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 16px;
    margin: 20px auto;
    padding: 10px 20px
}

@media (max-width: 1200px) {
    .manager-icons {
        flex-direction: column
    }

    .icon-form {
        margin: 10px 0
    }
}

.div_image {
    background-color: rgba(201, 205, 201, 0.75);
    display: flex;
    flex-direction: row;
    gap: 5%
}

.inscription-section {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px
}

.image-item>p {
    font: normal normal normal 10px / 1.4em 'chelsea market', fantasy
}

/* Responsive styles */
@media (max-width: 1200px) {

    #contient_carrousel,
    .carrousel,
    .div_image {
        display: flex;
        flex-direction: column
    }
}