body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.main-section {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.manager-icons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.icon-form,
.content,
.carrousel {
    background: #fff;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 20px;
}
#contient_carrousel{
    display: flex;
    flex-direction: row;
    
}

.icon-form {
    flex: 1;
    margin: 10px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .manager-icons {
        flex-direction: column;
    }

    .icon-form {
        margin: 10px 0;
    }
}

.div_image{
    display: flex;
    flex-direction: row;
    gap :5%;
    background-color: rgba(201, 205, 201, 0.75);

}

.inscription-section {
    background: #fff;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 20px;
}

.image-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.img-preview {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    object-fit: contain;

}

.image-item>p {
    font: normal normal normal 10px / 1.4em 'chelsea market', fantasy;

}