
#article-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Titre du formulaire */
h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Styles pour les inputs du formulaire */
form input[type="text"],
form input[type="date"],
form input[type="file"],
form textarea {
    width: 500px;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 16px;
    color: #333;
}

/* Mise en forme du bouton d'upload */
#upload-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5a9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
    margin-bottom: 10px;
}

#upload-button:hover {
    background-color: #489;
}

/* Messages de statut pour l'upload et l'ajout d'article */
#upload-status,
#article-status {
    margin-top: 10px;
    font-size: 14px;
    color: #d00;
}

