#article-form,
#actus-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100%
}

/* Titre du formulaire */
h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

/* Styles pour les inputs du formulaire */
form input[type="text"],
form input[type="date"],
form input[type="file"],
form textarea,
form select {
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: #333;
    font-family: inherit;
    font-size: 16px;
    margin: 10px 0;
    padding: 12px;
    width: 500px
}

/* Mise en forme du bouton d'upload */
#upload-button {
    background-color: #5a9;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    margin-bottom: 10px;
    padding: 10px 20px
}

#upload-button:hover {
    background-color: #489
}

/* Messages de statut pour l'upload et l'ajout d'article */
#upload-status,
#article-status,
#actus-status {
    color: #d00;
    font-size: 14px;
    margin-top: 10px
}

#articles-container,
#actus-container {
    /* Vert avec faible opacité */
    min-width: 95vw;
    background-color: rgba(201, 205, 201, 0.75)
}