#roww {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center
}

#roww section {
        width: 40%
}

.coll {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 50px
}

.coll>img {
        width: 500px
}

.coll>button {
        width: 40%
}

/* Responsive styles */
@media (max-width: 1200px) {
        #roww {
                flex-direction: column;
                flex-flow: column-reverse
        }

        #roww section {
                background-color: aliceblue;
                padding: 20px;
                width: 80%
        }

        .coll {
                gap: 10px
        }

        .coll>img {
                width: 300px
        }

        .coll>button {
                width: 80%
        }
}