/* Styles généraux */
body {
    font: normal normal normal 20px/1.4em 'chelsea market', fantasy;
    margin: 0;
    padding: 0
}

main {
    background-image: url(../img/font.png);
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    overflow-y: hidden;
    padding: 0
}

/* Header */
header {
    background-color: #1d4568;
    color: white;
    padding: 20px;
    text-align: center
}

header img {
    width: 200px
}

/* Navigation */
nav {
    align-items: center;
    background-color: #264b7a;
    display: flex;
    justify-content: center;
    overflow: hidden;
    text-align: center
}

nav a {
    color: white;
    display: inline-block;
    padding: 14px 20px;
    text-decoration: none
}

nav a:hover {
    background-color: #1a3b60
}

nav>span {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50px
}

/*souligne la page en cours*/
.page {
    text-decoration: underline
}

.panier {
    width: 50px
}

/* Section principale */

.lien_s {
    text-decoration: none
}

.main-section {
    padding: 50px;
    text-align: center
}

.main-section h1 {
    color: #1d4568;
    font-size: 2.5em
}

/* Icones */
.icons {
    display: flex;
    justify-content: space-between;
    margin: 30px 90px
}

.icons div {
    margin: 0 15px;
    text-align: center
}

.icons img {
    display: block;
    height: 100px;
    margin: 0 auto 10px;
    width: 100px
}

/* Contenu texte */
.content p {
    line-height: 1.6;
    margin: 20px 0
}

.content hr {
    border-top: 1px solid #ccc;
    border: 0;
    margin: 30px auto;
    width: 80%
}

/* Footer */
footer {
    background-color: #1d4568;
    color: white;
    padding: 20px;
    position: relative;
    text-align: center
}

footer img {
    margin: 0 10px;
    width: 24px
}

footer a {
    color: white;
    text-decoration: none
}

button {
    background: linear-gradient(to bottom, #66ccff, #3399ff);
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: background 0.3s ease
}

button:hover {
    background: linear-gradient(to bottom, #3399ff, #0066cc)
}

#img_accueil {
    width: 592px
}

#ndpart {
    align-items: center;
    display: flex;
    gap: 50px;
    justify-content: center
}

#menu-toggle,
#menu-close {
    display: none
}

#menu-items {
    display: flex;
    flex-direction: row
}

textarea {
    max-height: 30vh;
    max-width: 75vw;
    min-height: 50px;
    min-width: 10vw
}

/* Style pour le toaster */
#toast {
    background-color: hsl(218, 40%, 81%);
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 14px;
    left: 50%;
    opacity: 0;
    padding: 10px 20px;
    position: fixed;
    top: 20px;
    transform: translateX(-50%);
    transition: opacity 0.5s ease, visibility 0.5s ease;
    visibility: hidden;
    z-index: 1000
}

/*apparition du message de lien copié */
#toast.show {
    opacity: 1;
    visibility: visible
}

/* Responsive styles */
@media (max-width: 1200px) {

    /* Body */
    body {
        font-size: 16px
    }

    /* Header */
    header {
        padding: 15px
    }

    header img {
        width: 150px
    }

    /* Navigation */
    #menu-toggle {
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        display: block;
        font-size: 24px;
        margin: 10px
    }

    #menu-items {
        background-color: #264b7a;
        display: none;
        flex-direction: column;
        left: 0;
        padding: 10px 0;
        position: absolute;
        top: 50px;
        width: 100%;
        z-index: 1000
    }

    /* Format téléphone disposition des items */
    #menu-items.show {
        display: flex
    }

    nav a {
        border-bottom: 1px solid #1a3b60;
        color: white;
        padding: 10px 15px;
        text-align: center
    }

    nav>span {
        width: 40px
    }

    .panier-container {
        margin-top: 10px;
        text-align: center
    }

    .panier {
        width: 40px
    }

    .nombre-articles-panier {
        background-color: red;
        border-radius: 50%;
        color: white;
        font-size: 14px;
        left: 10px;
        padding: 2px 6px;
        position: relative;
        top: -10px
    }

    /* Section principale */
    .main-section {
        padding: 20px
    }

    .main-section h1 {
        font-size: 2em
    }

    #img_accueil {
        max-width: 90vw
    }

    /* Icones */
    .icons {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 20px auto
    }

    .icons div {
        margin: 10px 0
    }

    .icons img {
        height: 80px;
        width: 80px
    }

    /* Contenu */
    .content p {
        margin: 15px 0
    }

    .content hr {
        width: 90%
    }

    /* Footer */
    footer {
        padding: 15px
    }

    footer img {
        width: 20px
    }

    /* Boutons */
    button {
        font-size: 14px;
        padding: 8px 15px
    }

    /* Deuxième partie */
    #ndpart {
        flex-direction: column;
        gap: 20px
    }

    #menu-close {
        /* Masqué par défaut */
        
        align-self: flex-end;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        display: none;
        font-size: 24px;
        margin: 10px;
    }

    #menu-items.show #menu-close {
        /* Affiché seulement lorsque le menu est ouvert */
         display: block;
    }
}